@font-face {
    font-family: 'MoveSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.overall {
    margin: 40px 300px;
    padding: 30px 40px;
    border: 2px solid pink;
    border-radius: 10px;
}

a {
    color: black;
    text-decoration: none;
}

#quickbutton {
    font-family: 'MoveSans-Bold', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}
div.quick {
    margin: 20px;
    border: 2px solid pink;
    border-radius: 20px;
    padding: 20px;
    width: 200px;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quick:hover{
    background-color: pink;}

#footer {
    font-family: 'omyu_pretty', sans-serif;
    font-size: 18px;
    text-align: center;
    border-top: 1px solid pink;
    padding-top: 30px;
}